body{
  margin:0;
  background-color: #e4efe7;
  text-align: center;
  font-family:  'Merriweather' , sans-serif;

}
.top-container{

  background-color: #f5c0c0;
  position: relative;
  padding-top: 100px;
}

h1{
  margin: 0 auto 0 auto;
  font-family: 'Berkshire Swash', cursive;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;

}
.middle-container{
  background-color: #e8e9a1;

}

.skills{
  background-color: #d6d2c4;
}

.bottom-container{
  background-color: #a7c5eb;
}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 500px;
}
.bottom-cloud{
  position:absolute;
  top: 200px;
  left: 350px;
}

.profile_photo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.skill-img1{
  height: 200px;
  width: 300px;
}

.skill-img2{
  height: 200px;
  width: 500px;
  border-radius: 50%;
}
